.navBar_link {
    font-size: 32px;
    background: -webkit-linear-gradient(rgb(37, 12, 182), rgb(199, 63, 174));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 800;
    cursor: pointer;
    transform: 0.4s;
  }

  .navBar_link:hover {
    background: -webkit-linear-gradient(rgb(199, 63, 174), rgb(37, 12, 182));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }